ca.xpi
cs.xpi
da.xpi
de.xpi
es-AR.xpi
es-ES.xpi
eu.xpi
fr.xpi
ga-IE.xpi
hu.xpi
is.xpi
it.xpi
ja.xpi
ka.xpi
ko.xpi
lt.xpi
mk.xpi
mn.xpi
mozilla-sunbird-l10n-template.in
nb-NO.xpi
nl.xpi
nn-NO.xpi
pa-IN.xpi
pl.xpi
pt-BR.xpi
pt-PT.xpi
ro.xpi
ru.xpi
sk.xpi
sl.xpi
sv-SE.xpi
tr.xpi
uk.xpi
zh-CN.xpi
zh-TW.xpi
